.footer {
  margin-top:5px;
  background-color: #27a5d7;
  color: #fff;
  padding: 30px 20px 10px 20px;
  font-family: "Segoe UI", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-info h3 {
  margin-bottom: 10px;
}

.footer-info p {
  margin: 4px 0;
  font-size: 14px;
}

.footer-social h4 {
  margin-bottom: 10px;
}

.footer-social a {
  display: block;
  margin-bottom: 6px;
  color: #ff9800;
  text-decoration: none;
  font-weight: 500;
}

.footer-social a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #aaa;
  border-top: 1px solid #444;
  padding-top: 10px;
}
